*{
    margin: 0;
    padding: 0;
    background-color: transparent;
   color: rgb(102, 0, 0)}
#main-nav{
    height: 7rem;
    width: auto;
    display: grid;
    border: 0px solid transparent;
    grid-template-columns: 7rem 1fr 1fr 6rem;}

#menu-link ul{
   list-style: none;
   display: flex;
   border: none;
   opacity: 0.0 - 1.0;
   background: none;
   height: 7rem;
   justify-content: space-around;
   align-items: center;
 }
 #menu-link ul li a{
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: none;
    color: #670000;
    background: #ffffff00;
 }

 li,h2{
  background: none;
 }


 #menu-link{
  background: none;
 }

 a{
  background: none;
  text-decoration: none;
  color: black;
  position: relative;
 }
.logo{
    grid-column: 2/3;
    font-size: 20px;
    display: grid;
    border: none;
    height: 7rem;
    justify-content: start;
    align-items: center;
}

#menu-link .hamburger-menu{
 display: none;
 grid-column: 2/3;
 font-size: 2.0rem;
 justify-content: start;
    align-items: center;
}

a#h::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #670000;
  transition: all 0.2s linear;
}


a#h:hover::before{
  width: 100%;
  background-color: #670000;
}

/* responsive navbar */
@media (max-width: 1080px) {
    #main-nav {
      height: 6rem;
      grid-template-columns: 2.5rem 3fr 3fr 2.5rem;
    }
    #menu-link ul li a{
      font-size: 1.5rem;
    }
    .logo,
    #menu-link ul {
      height: 6rem;
      
    }
    .logo h2{
      font-size: 2.3rem;
    }
  }

  @media (max-width: 798px){
    #main-nav {
        height: 6rem;
        grid-template-columns: 3rem 21rem 21.5rem 2.5rem;
      }
    
      .logo{
        height: 6rem;
        font-size: 1.3rem;
      }
    
      #menu-link ul{
        display: none;
      }
    
      #menu-link .hamburger-menu {
        display: grid;
        grid-column: 3/3;
        justify-content: right;
        align-items: center;
        margin-top: 1.7rem;
        font-size: 3rem;
        background:none;
      }
     
      #menu-link .hamburger-menu i{
        margin-right: 10%;
      }

      #menu-link .hamburger-menu i svg{
      background: none;
      }

      @media (max-width: 520px) {
        #main-nav {
          height: 6rem;
          grid-template-columns: 1.5rem 20rem 21rem 1.5rem;
        }
      
        .logo,
        #menu-link ul {
          height: 6rem;
        
        }
      
        .logo h2 {
          font-size: 3rem;
        }
        
        .hero-section h1 {
          font-size: 3.8rem;
        }
      }
      
      }
      @media (max-width: 415px) {
        #menu-link .hamburger-menu i{
          padding-right: 20px ;
        }
      }

      @media (max-width: 769px) {
        #menu-link .hamburger-menu i{
          padding-right:0;
        }

        #menu-link ul{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          top: 90px;
          z-index: 10;
          right: -300px;
          width: 300px;
          height: 70vh;
          background-color: #670000;
          box-shadow: 0 40px 60px black;
          padding: 40px 0 0 10px;
        }


        #menu-link ul li a{
          color: #ffefae ;
        }

        #menu-link ul li{
          margin: 15% auto 10% auto
        }
        

      }

      @media (max-width: 540px) {
        #menu-link .hamburger-menu i{
          padding-right: 2rem ;
        }
      }
      @media (max-width: 376px) {
        #menu-link .hamburger-menu i{
          padding-right: 2rem ;
        }

      @media (max-width: 281px) {
        #menu-link .hamburger-menu i{
          padding-right: 20px ;
        }
      }
  }


  